@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<html>
    <body>
        <h2>その他</h2>
        <hr />
        <div>
            <h3>らーめんっていっぱい種類があるよね</h3>
        </div>
    </body>
</html>

<a href="/Home/Index/3">戻る</a>