@{
    ViewData["Title"] = "ラーメンスープ";
}
<h1>ラーメンホーム</h1>

<div class="item">
    <a href="/Tast/Solt/3">塩ラーメン</a>
</div>

<div class="item">
    <a href="/Tast/Pigbone/3">豚骨ラーメン</a>
</div>

<div class="item">
    <a href="/Tast/Miso/3">味噌ラーメン</a>
</div>

<div class="item">
    <a href="/Tast/SoySorce/3">醤油ラーメン</a>

</div>

<div class="item">
    <a href="/Tast/Others/3">その他</a>
</div>
